{% extends 'base.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content%}
        <img src="{% static 'usama.jpg' %}" alt="Usama's photo" width="300" height="300">
        <p>
    I'm <b>Usama Ibrahim,</b><br>
    a 400-level Computer Science student<br>
    with a strong passion for full-stack development.<br>
    I'm currently building solid skills in both front-end<br>
    and back-end technologies.
</p>
    {% endblock %}
</body>
</html>